In [23]:
import requests, math
import pandas as pd

In [8]:
words = pd.Series(requests.get('https://raw.githubusercontent.com/derekchuank/high-frequency-vocabulary/master/30k.txt').text.split())

In [9]:
words5 = words[words.apply(len)==5]

Common 5 letter words

In [11]:
words5.head()

35    about
45    other
56    which
57    their
62    there
dtype: object

In [15]:
letter_position_freq = pd.DataFrame({
    i:words5.apply(lambda x: x[i]).value_counts(normalize=True)
    for i in range(5)
})

Frequencies of each letter at each position

In [21]:
letter_position_freq.sort_values(0,ascending=False).head()

          0         1         2         3         4
s  0.118569  0.014030  0.041265  0.047043  0.222558
c  0.080880  0.014580  0.033287  0.048143  0.011554
b  0.065475  0.005502  0.024209  0.016781  0.003026
t  0.064924  0.025309  0.058047  0.072627  0.062724
p  0.062999  0.017607  0.020633  0.021458  0.012105

Let's define score as a product of letter probability occurences in specific position. The higher the score, the more words with similar letter distribution there are.

In [26]:
def compute_score(word):
    score = 1
    for pos, letter in enumerate(word):
        score *= letter_position_freq.loc[letter, pos]
    return math.log10(score)
print(f"house: {compute_score('house'):.3f}")
print(f"adieu: {compute_score('adieu'):.3f}")
print(f"table: {compute_score('table'):.3f}")

house: -5.777
adieu: -7.549
table: -5.661

In [29]:
words5.to_frame('word').assign(score=words5.apply(compute_score)).sort_values('score',ascending=False).head(30).set_index('word')

          score
word
sores -4.225964
sales -4.299907
cares -4.317766
canes -4.345349
cores -4.392094
cones -4.419678
ceres -4.447612
fares -4.509651
bones -4.511448
tones -4.515113
sites -4.525199
danes -4.534943
coles -4.540366
lanes -4.556018
tales -4.561472
seats -4.563190
cries -4.593299
bates -4.597137
tires -4.599163
sails -4.601935
sears -4.604583
sorts -4.606450
males -4.610102
pines -4.639823
aires -4.641661
poles -4.648878
hanes -4.649344
mates -4.649431
cases -4.653558
seals -4.656415